@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


}

<div class="text-light">
    <a  href="@Url.Action("CustomerList","Admin")" class="btn btn-outline-primary">Clientes</a>
    <a   href="@Url.Action("UserList","Admin")" class="btn btn-outline-primary">Usuarios</a>
</div>