@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Alto La guardia Civil";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tienes acceso a estos recursos.</p>
</header>
